/* General Styles */

html {
    min-height: 100%;
    position: relative;
}

body, .card {
    background-color: lightgray;
}

a {
    text-decoration: none;
}

/* Navbar Styles */

nav, .dropdown-menu {
    background-color: black;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

.navbar a:hover {
    text-decoration: none;
    color: plum
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar li {
    padding: 7px;
}

.dropdown-menu a:hover {
    background-color: black;
}

/* Body Styles */

#main-div {
    min-height: 100%;
    height: 100%;
    /* background-color: grey; */
}

#main-div > p {
    /* min-height: 100%; */
    /* height: 100%; */
    /* background-color: black; */
    color: blue;
}

/* Card Styles */

.card {
    max-width: 100%;
    overflow: hidden;
}

.card-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.card a:hover {
    text-decoration: none;
}

/* Detail Page Styles */

.ingredient-link, .drink-link {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.ingredient-link:hover, .drink-link:hover {
    text-decoration: none;
    color: rgb(140, 65, 95);
    transition: color 0.5s;
}


/* BootStrap Overrides */

.bg-dark {
    background: black;
}

.bg-secondary {
    background: darkviolet;
}