{% extends 'base.html' %}

{% block title %}{{drinkInfo[0].name}}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-2 left-gutter"></div>
            <div class="col">
                <div class="row">
                    <div class="col-10">
                        <h1 class="display-4">{{drinkInfo[0]['name']}}</h1>
                    </div>
                    <div class="col-2">
                        {% if g.user %}
                            {% if drinkInfo[0].name in g.user.favoritesList %}
                            <span><i class="fa-solid fa-star display-4 align-self-bottom text-warning" id="fave-star"></i></span>
                            {% else %}
                            <span><i class="fa-regular fa-star display-4 align-self-bottom text-warning" id="fave-star"></i></span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <p>Recommended glass: {{ drinkInfo[0]['glass'].title() }}</p>
                <span>Ingredients:</span>
                <ul>
                {% for ingredient in drinkInfo[0]['ingredients'] %}
                    {% if ingredient.title() in ingredients %}
                    <li>{{ drinkInfo[0]['measures'][loop.index - 1] }} <a href='/ingredients/{{ingredient.replace(" ", "%20")}}' class="ingredient-link">{{ ingredient.title() }}</a></li>
                    {% else %}
                    <li>{{ drinkInfo[0]['measures'][loop.index - 1] }} {{ ingredient.title() }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                <p>Directions:</p>
                <p>{{ drinkInfo[0]['instructions'] }}</p>
            </div>

            <div class="col-3">
                <img src="{{ drinkInfo[0]['imgURL'] }}" 
                    alt="{{ drinkInfo[0]['name'] }}" class="img-fluid">
            </div>
            <div class="col-2 right-gutter"></div>
        </div>

        <!-- New comment form -->
        <div class="row mt-4">
            <div class="col-2 left-gutter"></div>
            <div class="col">
                <h1>Add a Comment</h1>
            </div>
            <div class="col-2 right-gutter"></div>
        </div>
        <div class="row py-4">
            {% if g.user %}
            <div class="col-2 left-gutter"></div>
            <div class="col-3">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field(class_='form-control') }}
                        {% for err in field.errors %}
                        <p class="text-danger small">{{ err }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="btn btn-secondary">Submit</button>
                </form>
            </div>
            <div class="col-2 right-gutter"></div>
        </div>
        {% endif %}
    </div>
        <!-- Comment display -->
        
        <div class="row mt-4">
            <div class="col-2 left-gutter"></div>
            <div class="col">
                <h3 class="py-0">Comments</h3>
                {% if comments|length == 0 %}
                <h6 class="pb-2">Be the first to comment!</h6>
                {% else %}
                <h6 class="pb-2">{{comments|length}} comments</h6>
                {% endif %}
                {% for comment in comments %}
                <div class="p-0">
                    <blockquote class="blockquote">
                        <p class="mb-0">{{comment.content}}</p>
                        <footer class="blockquote-footer">{{comment.user.username}}</footer>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
            <div class="col-2 right-gutter"></div>
        </div>
    </div>

    <span class="drinkId d-none" id="{{drink_id}}"></span>
    <span class="userId d-none" id="{{g.user.id}}"></span>
{% endblock %}