{% extends 'base.html' %}

{% block title %}{{drinkInfo[0].name}}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row py-4">
            <div class="col-2 left-gutter"></div>
            <div class="col">
                <div class="row">
                    <div class="col-10">
                        <h1 class="display-4">{{drinkInfo[0]['name']}}</h1>
                    </div>
                    <div class="col-2">
                        <span><i class="fa-regular fa-star display-4 align-self-bottom" id="fave-star"></i></span>
                    </div>
                </div>
                <p>Recommended glass: {{ drinkInfo[0]['glass'].title() }}</p>
                <span>Ingredients:</span>
                <ul>
                {% for ingredient in drinkInfo[0]['ingredients'] %}
                    {% if ingredient.title() in ingredients %}
                    <li>{{ drinkInfo[0]['measures'][loop.index - 1] }} <a href='/ingredients/{{ingredient.replace(" ", "%20")}}' class="ingredient-link">{{ ingredient.title() }}</a></li>
                    {% else %}
                    <li>{{ drinkInfo[0]['measures'][loop.index - 1] }} {{ ingredient.title() }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                <p>Directions:</p>
                <p>{{ drinkInfo[0]['instructions'] }}</p>
            </div>

            <div class="col-3">
                <img src="{{ drinkInfo[0]['imgURL'] }}" 
                    alt="{{ drinkInfo[0]['name'] }}" class="img-fluid">
            </div>
            <div class="col-2 right-gutter"></div>
        </div>
        {% for comment in comments %}
        <p>{{comment.content}}</p>
        {% endfor %}
    </div>
{% endblock %}