{% extends 'base.html' %}

{% block title %}Cocktail Recipes{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- <div class="card-deck"> -->
            {% for drink in drinks %}
            <div class="col-md-4 col-6 col-lg-3 py-2">
                <div class="card border-0">
                    <a href="/drinks/{{drink.name}}">
                        <img src="{{drink.img_url}}" alt="" class="card-img-top">
                        <div class="card-body">
                            <p class="h4 card-title text-center">{{drink.name}}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        <!-- </div> -->
    </div>
</div>

{% endblock %}