{% extends 'base.html' %}

{% block title %}{{ ingredient.name }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-1 left-gutter"></div>
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <h1 class="display-4">{{ingredient.name}}</h1>
                </div>
            </div>
        </div>
        <div class="col-1 right-gutter"></div>
    </div>
</div>

<ul>
{% for drink in drinks %}
    <li>
        <a href="/drinks/{{drink.replace(' ', '%20')}}">{{drink}}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}