{% extends 'base.html' %}

{% block title %}Favorite Drinks{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4 text-center">My Favorites</h1>
    <div class="row">
        {% for drink in drinks %}
        <div class="col-6 col-md-4 col-lg-3 py-2">
            <div class="card">
                <a href="/drink/{{drink.name}}">
                    <img src="{{drink.img_url}}" alt="" class="img-fluid"></a>
                    <div class="card-body">
                        <h3 class="card-title text-center">{{ drink.name }}</h3>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}